In [8]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('./data/pre-processed-raw.csv')

In [25]:
df.head()

,credit_card,city,state,zipcode,credit_card_limit,date,transaction_dollar_amount,Long,Lat,transaction_hour,transaction_day_of_week,transaction_amount_relative_to_limit,transaction_frequency,avg_transaction_amount_24h,distance_from_common_location
0,1280981422329509,Dallas,PA,18612,6000.0,2015-08-05 00:59:19,11.94,-75.964527,41.353578,0,2,0.001990,22,75.664091,1.191098
1,1280981422329509,Dallas,PA,18612,6000.0,2015-10-29 18:23:04,5.76,-76.019703,41.311467,18,3,0.000960,316,53.062943,5.439761
2,1280981422329509,Dallas,PA,18612,6000.0,2015-10-25 17:50:48,25.84,-76.043031,41.291053,17,6,0.004307,306,53.820163,8.416689
3,1280981422329509,Dallas,PA,18612,6000.0,2015-09-05 17:39:43,68.89,-75.944299,41.327282,17,5,0.011482,152,51.474539,2.935461
4,1280981422329509,Dallas,PA,18612,6000.0,2015-09-04 14:12:59,27.01,-75.997259,41.352099,14,4,0.004502,146,52.132740,2.345063

In [26]:
# Drop unnecessary columns
df_clean = df.drop(columns=['date', 'credit_card', 'city', 'state', 'zipcode', 'credit_card_limit', 'transaction_dollar_amount', 'Long', 'Lat'])

# Check if the dataframe has any NaN or infinite values
if df_clean.isnull().values.any():
    df_clean.fillna(df_clean.mean(), inplace=True)

if np.isinf(df_clean.values).any():
    df_clean = df_clean.replace([np.inf, -np.inf], np.nan)
    df_clean.fillna(df_clean.mean(), inplace=True)

# Convert DataFrame to numpy array
df_array = np.array(df_clean)

from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import IsolationForest

# Standardize the features to have mean=0 and variance=1
scaler = StandardScaler().fit(df_array)
df_scaled = scaler.transform(df_array)

# Add a small constant to avoid division by zero during scaling
df_scaled += 1e-10

# Check for any remaining NaN values
if np.isnan(df_scaled).any():
    df_scaled = np.nan_to_num(df_scaled)

# Train the model
model = IsolationForest(contamination=0.01)
model.fit(df_scaled)

# Get anomaly scores and predictions
scores = model.decision_function(df_scaled)
anomalies = model.predict(df_scaled)

# Add anomaly scores and predictions to original dataframe
df['scores'] = scores
df['anomaly'] = anomalies

# Display rows considered as anomalies
print(df[df['anomaly']==-1])

/home/aym-workstation/anaconda3/envs/py3.7/lib/python3.7/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
/home/aym-workstation/anaconda3/envs/py3.7/lib/python3.7/site-packages/sklearn/utils/extmath.py:1020: RuntimeWarning: invalid value encountered in subtract
  new_unnormalized_variance -= correction ** 2 / new_sample_count
/home/aym-workstation/anaconda3/envs/py3.7/lib/python3.7/site-packages/numpy/core/fromnumeric.py:86: RuntimeWarning: overflow encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

             credit_card     city state  zipcode  credit_card_limit  \
38      1280981422329509   Dallas    PA    18612             6000.0
57      1280981422329509   Dallas    PA    18612             6000.0
89      1280981422329509   Dallas    PA    18612             6000.0
199     1280981422329509   Dallas    PA    18612             6000.0
210     1280981422329509   Dallas    PA    18612             6000.0
...                  ...      ...   ...      ...                ...
294034  8259854075192493    Omaha    GA    31821            10000.0
294062  8259854075192493    Omaha    GA    31821            10000.0
294078  8259854075192493    Omaha    GA    31821            10000.0
294137  8259854075192493    Omaha    GA    31821            10000.0
294210  1409322756311484  Houston    PA    15342            15000.0

                       date  transaction_dollar_amount       Long        Lat  \
38      2015-09-26 00:25:53                     860.42 -76.038250  41.382482
57      2015-07-31 20:43:34                     857.56 -75.938646  41.385103
89      2015-08-02 00:16:57                      51.85 -75.892793  41.341462
199     2015-10-06 14:14:48                     878.25 -76.035226  41.411656
210     2015-08-07 00:06:33                     824.47 -75.911692  41.363787
...                     ...                        ...        ...        ...
294034  2015-08-25 19:17:12                     917.19 -84.966005  32.136799
294062  2015-08-12 18:56:09                     851.13 -84.933837  32.173984
294078  2015-08-03 01:24:22                     170.81 -85.044296  32.116667
294137  2015-10-21 17:40:45                     914.95 -84.958848  32.185465
294210  2015-08-08 01:45:46                     885.97 -80.270413  40.307097

        transaction_hour  transaction_day_of_week  \
38                     0                        5
57                    20                        4
89                     0                        6
199                   14                        1
210                    0                        4
...                  ...                      ...
294034                19                        1
294062                18                        2
294078                 1                        0
294137                17                        2
294210                 1                        5

        transaction_amount_relative_to_limit  transaction_frequency  \
38                                  0.143403                    211
57                                  0.142927                      3
89                                  0.008642                      5
199                                 0.146375                    246
210                                 0.137412                     34
...                                      ...                    ...
294034                              0.091719                     69
294062                              0.085113                     39
294078                              0.017081                     11
294137                              0.091495                    210
294210                              0.059065                     47

        avg_transaction_amount_24h  distance_from_common_location    scores  \
38                       54.145735                       7.035974 -0.035457
57                      316.883333                       5.306201 -0.088438
89                      205.694000                       6.577784 -0.008132
199                      54.777073                       9.209260 -0.037450
210                      83.493529                       5.444439 -0.030590
...                            ...                            ...       ...
294034                  133.499275                       1.691704 -0.018695
294062                  129.213077                       6.491629 -0.012028
294078                  138.590000                       6.031681 -0.002148
294137                  122.024476                       6.217960 -0.024993
294210                  118.814468                       8.666515 -0.000052

        anomaly
38           -1
57           -1
89           -1
199          -1
210          -1
...         ...
294034       -1
294062       -1
294078       -1
294137       -1
294210       -1

[2946 rows x 17 columns]

In [27]:
len(df), len(df[df['anomaly']==-1])

(294588, 2946)